services:
  nginx-proxy:
    extends:
      file: ./nginx-proxy/nginx-services.yaml
      service: nginx-proxy
    environment:
      DEFAULT_HOST: "homeserver.pi"

  whoami:
    extends:
      file: ./nginx-proxy/nginx-services.yaml
      service: whoami
    environment:
      VIRTUAL_HOST: "whoami.local"
      VIRTUAL_PORT: 8000

  pihole:
      extends:
        file: ./pihole/pihole-services.yaml
        service: pihole
      environment:
        VIRTUAL_HOST: "pihole.homeserver.pi"